version: '3.3'
services:
  dokumentserver:
    container_name: oodokumentserver
    ports:
      - '127.0.0.1:{{ nextcloud_onlyoffice_port }}:80'
    restart: always
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - '/opt/onlyoffice/DocumentServerData/logs:/var/log/onlyoffice'
      - document_lib:/var/lib/onlyoffice
    environment:
        - JWT_ENABLED=true
        - JWT_SECRET={{ nextcloud_onlyoffice_jwtsecret }}
    image: onlyoffice/documentserver

volumes:
  document_data:
  document_lib:
