[nextcloud]
user = www-data
group = www-data
listen = /var/run/php/php-fpm-$pool.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

request_terminate_timeout = 600


env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp


php_admin_value[memory_limit] = 1G
php_admin_value[open_basedir] = /var/www/nextcloud/:/tmp/:/dev/urandom:/var/log/nextcloud:/proc/meminfo:/clouddata
php_admin_value[upload_max_filesize] = 16G
php_admin_value[post_max_size] = 16G
