#add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

#add_header Strict-Transport-Security $hsts_header;

add_header Strict-Transport-Security "max-age=63072000" always;
