#!/bin/bash

export LE_WORKING_DIR="/root/.acme.sh"

/root/.acme.sh/acme.sh  --register-account  --server letsencrypt  -m  hostmaster@neanderfunk.de

/root/.acme.sh/acme.sh --set-default-ca --server letsencrypt

/root/.acme.sh/acme.sh --upgrade --auto-upgrade

/root/.acme.sh/acme.sh --issue \
-d {{ item.hauptdomain }} \
{% if item.subdomains is defined %}
{% for item in item.subdomains %}
-d {{ item }} \
{% endfor %}
{% endif %}
{% if item.acme_stateless is defined %}
--stateless \
{% endif %}
-k ec-384



/root/.acme.sh/acme.sh --install-cert -d {{ item.hauptdomain }} \
--cert-file      /etc/lessl/{{ item.hauptdomain }}/cert.pem  \
--key-file       /etc/lessl/{{ item.hauptdomain }}/key.pem  \
--ca-file        /etc/lessl/{{ item.hauptdomain }}/ca.pem \
--fullchain-file /etc/lessl/{{ item.hauptdomain }}/fullchain.pem \
--reloadcmd "/etc/lessl/reload.sh" --ecc
